@model FiveWordViewModel

@{
    ViewData["Title"] = "Index-Five";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a href="@Url.Action("FiveWordCreate","Admin")">Kelime Ekle</a>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<h2>5 HARFLİ CEVAPLAR</h2>
<table class="table">
    <tr>
        <th>İşlemler</th>
        <th>ID</th>
        <th>SORU</th>
        <th>CEVAP</th>
        <th>CEVAP KONTROL</th>
        <th>PUAN</th>
    </tr>
    @foreach (var item in Model.FifthWords)
    {

        <tr>
            <td>
                <a asp-action="UpdateFiveWord" asp-route-id="@item.FifthWordID">Güncelle</a>
                <form asp-action="DeleteFiveWord">
                    <div>
                        <input name="fifthWordID" type="hidden" value="@item.FifthWordID" />
                        <input type="submit" name="fifthWordID" value="Sil" class="btn btn-primary" />
                    </div>
                </form>
            </td>
            <td>@item.FifthWordID</td>
            <td>@item.FifthWordQuestion</td>
            <td>@item.FifthWordAnswer</td>
            <td>@item.FifthWordData</td>
            <td>@item.FifthWordScore</td>
        </tr>
    }
</table>
<div>
    <a asp-action="Index">Anasayfa</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
