<h1>Anasayfa</h1>

        <li >
            <ul>
                <li>
                    <a href="@Url.Action("Users","Admin")">Kullanıcılar</a>
                </li>
                <li>
                    <a href="@Url.Action("ScoreTable","Admin")">Skor Tablosu</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="@Url.Action("FourWordIndex","Admin")">4 Harfli Kelimeler</a>
                </li>
                <li>
                    <a href="@Url.Action("FiveWordIndex","Admin")">5 Harfli Kelimeler</a>
                </li>
                <li>
                    <a href="@Url.Action("SixthWordIndex","Admin")">6 Harfli Kelimeler</a>
                </li>
                <li>
                    <a href="@Url.Action("SevenWordIndex","Admin")">7 Harfli Kelimeler</a>
                </li>
                <li>
                    <a href="@Url.Action("EightWordIndex","Admin")">8 Harfli Kelimeler</a>
                </li>
                <li>
                    <a href="@Url.Action("NineWordIndex","Admin")">9 Harfli Kelimeler</a>
                </li>
                <li>
                    <a href="@Url.Action("TenWordIndex","Admin")">10 Harfli Kelimeler</a>
                </li>
            </ul>
        </li>